*{
    margin: 0;
    padding: 0;
}
header{
    color: white;
    background-color: rgb(22, 1, 1);
    text-align: center;
    height: 30px;
    padding: 5px;
    
}
nav{
    background-color: rgb(36, 4, 4);
    width: 100%;
    height: 50px;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li a{
    color: azure;
    background-color: rgb(46, 5, 5);
    border: 2px ridge;
    display: flex;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}
nav ul li a:hover{
    color: rgb(26, 153, 43);
    text-shadow: 1px 2px3px;
}
h2{
    text-align: center;
    margin: 10px;
}
.pic{
    display: flex;
    
}
.pic p{
    justify-content: center;
    margin: 20px;
    border-radius: 50px;
    padding: 10px;
    font-size: x-large;
}
.pic img{
    border-radius: 50px;
    

}
.pic img:hover{
    color: beige;
}
.row{
    display: flex;
}
.box{
    height: 200px;
    width: 500px;
    border:2px ridge blue;
    margin: 10px;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(196, 121, 52);
}
.box:hover{
    border: 2px ridge rgb(20, 19, 19);
    box-shadow: 2px 3px 4px 5px;
}
.awards img{
    margin: 10px;
    border: 10px;
}
a{
    border-left: 50px;
}
h3{
    text-align: center;
    justify-content: center;
}
footer{
    width: 100%;
    height: 150px;
    background-color: rgb(85, 150, 150);
    
}
footer h3{
    text-align: center;
}
@media screen and(max-width:400px){
    
}